.box-b {
  width: 100%;
  display: flex;
  background-color: #f8f8f8;
  padding-top: 60px;
  padding-bottom: 35px;
  /*1*/
  /*2*/
  /*3*/
  /*4*/
  /*5*/ }
  .box-b .bx1 {
    width: 100%;
    border-bottom: 1px solid lightgray; }
    .box-b .bx1 a {
      color: gray; }
      .box-b .bx1 a i {
        margin-right: 10px; }
    .box-b .bx1 p {
      margin-top: 20px; }
    .box-b .bx1 ul {
      list-style: none;
      padding-left: 0px; }
      .box-b .bx1 ul i {
        margin-right: 15px;
        color: #16b739; }
      .box-b .bx1 ul li {
        margin-left: 0px; }
    .box-b .bx1 .open {
      width: 100%;
      margin: 25px 0px;
      background-color: rgba(0, 77, 218, 0.05);
      padding: 25px 25px 25px 80px;
      position: relative; }
      .box-b .bx1 .open i {
        position: absolute;
        left: 25px;
        top: 25px;
        font-size: 36px;
        font-size: 2.25rem;
        color: #555; }
      .box-b .bx1 .open .ribon {
        width: 100px;
        height: 30px;
        font-size: 10px;
        color: white;
        background: #79a70a;
        position: absolute;
        right: -10px;
        top: 20px;
        text-align: center;
        padding-top: 5px;
        transform: rotate(45deg); }
      .box-b .bx1 .open ul {
        margin-top: 25px; }
        .box-b .bx1 .open ul li {
          margin-top: 3px; }
        .box-b .bx1 .open ul span {
          float: right; }
  .box-b .bx2 {
    border-bottom: 1px solid lightgray;
    width: 100%; }
    .box-b .bx2 h4 {
      margin: 25px 0px; }
    .box-b .bx2 ul {
      list-style: none;
      margin-left: 0px;
      padding-left: 0px; }
    .box-b .bx2 .row li {
      height: 150px; }
    .box-b .bx2 .row .img {
      width: 100px;
      height: 100px;
      padding: 5px;
      border: 1px dotted  #ddd;
      overflow: hidden;
      float: left;
      margin-right: 20px; }
      .box-b .bx2 .row .img img {
        width: 88px;
        height: auto;
        text-align: center; }
    .box-b .bx2 .row h6 {
      margin-left: 108px;
      font-size: .875rem;
      border-bottom: 1px dashed #ddd;
      padding-bottom: 5px; }
      .box-b .bx2 .row h6 span {
        float: right; }
    .box-b .bx2 .row p {
      font-size: 15px; }
  .box-b .bx3 {
    border-bottom: 3px solid lightgray;
    width: 100%;
    padding-bottom: 35px; }
    .box-b .bx3 h5 {
      margin: 20px 0px; }
  .box-b .bx4 {
    width: 100%;
    border-bottom: 1px solid lightgray; }
    .box-b .bx4 .row {
      padding: 25px 0px; }
      .box-b .bx4 .row .green-box {
        text-align: center;
        margin-bottom: 10px;
        background-color: #32a067;
        color: #fff;
        padding: 20px 10px; }
        .box-b .bx4 .row .green-box strong {
          font-size: 2.625rem;
          display: block;
          line-height: 1; }
      .box-b .bx4 .row .progress {
        margin-bottom: 10px; }
      .box-b .bx4 .row .progress-bar {
        background-color: #32a067; }
    .box-b .bx4 .review {
      width: 100%;
      display: flex;
      margin: 20px 0px; }
    .box-b .bx4 .img {
      order: 1;
      margin-right: 20px; }
    .box-b .bx4 .txt {
      padding: 20px;
      order: 2;
      background-color: white;
      border-radius: 5px; }
      .box-b .bx4 .txt i {
        font-size: 15px;
        color: gold; }
      .box-b .bx4 .txt .spi {
        color: lightslategray; }
      .box-b .bx4 .txt span {
        display: block;
        font-style: oblique;
        font-size: 14px;
        color: gray;
        margin: 10px 0px; }
  .box-b .bx5 {
    width: 100%; }
