.box-a{
    width: 100%;
    display: flex;
    background-color: #004dda;
    .bg-light {
        background-color: transparent!important;
        color: white;
        .navbar-text{
            color: white;
        }
        a{
            color: white;
            cursor: pointer;
            font-size: 20px;
        }
        .sp-a{
            color: lightgray;
            margin-left: 20px;
        }
    }
}